Library/
Temp/
Logs/
Obj/
Build/
UserSettings/

MemoryCaptures/
Recordings/

.idea/
.vscode/
.vs/
.gradle/

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

/Assets/AssetStoreTools*

/Packages/packages-lock.json

.DS_Store
Thumbs.db